[用Python实现简单和多重线性回归--预测波士顿房价](https://www.jianshu.com/p/edaaa78fb6a1)

[译自](https://towardsdatascience.com/simple-and-multiple-linear-regression-in-python-c928425168f9)

[使用sklearn进行多元线性回归](https://stackoverflow.com/questions/46899217/multi-linear-regression-with-sklearn)

# SKLearn中的线性回归

In [3]:
from sklearn import linear_model

In [4]:
import pandas as pd

In [2]:
def mlr_ccn(df1):
    df1=df[["CCN_1.0_cm3","T2m_NCEP","SS_1.0_mg","PM25"]].dropna()
    X = df1[["T2m_NCEP","SS_1.0_mg","PM25"]].values.reshape(-1,3)
    y = df1["CCN_1.0_cm3"]
    lm = linear_model.LinearRegression()
    model = lm.fit(X,y)
    #predictions = lm.predict(X)
    #print(predictions[0:5])
    #输出我们模型的R²得分
    print(lm.score(X,y))
    cf=lm.coef_
    inter=lm.intercept_
    return cf[0],cf[1],cf[2],inter

In [12]:
def mlr_ccn_value(df1,value="CCN_1.0_cm3",value1="T2m_NCEP",value2="SS_1.0_mg",value3="PM25"):
    df1=df[[value,value1,value2,value3]].dropna()
    X = df1[[value1,value2,value3]].values.reshape(-1,3)
    y = df1[value]
    lm = linear_model.LinearRegression()
    model = lm.fit(X,y)
    #predictions = lm.predict(X)
    #print(predictions[0:5])
    #输出我们模型的R²得分
    print(lm.score(X,y))
    cf=lm.coef_
    inter=lm.intercept_
    return cf[0],cf[1],cf[2],inter

In [5]:
df=pd.read_csv("yrd/yrd_ccn_new-all.csv")

In [6]:
df.head()

,ID_1,ID_2,NAME_2,lat_bin,lon_bin,BJC,B4LI,CAPE,CAPE_nc,CCN_1.0_cm3,...,mean_wspd,max_wspd,max_wdir,ext_wspd,ssd,mean_prs,max_prs,min_prs,mean_rh,min_rh
0,602,10098,Hangzhou,30.0,120.0,2014/7/21 5:35,-4.40,2565.0,3044.0,1318.0,...,15.5,41.0,3.5,60.0,104.0,10034.0,10054.5,10011.0,72.0,47.0
1,602,10098,Hangzhou,30.0,120.0,2015/8/12 4:31,1.40,10.0,973.0,1072.0,...,19.0,41.0,7.5,61.5,91.5,10055.0,10068.5,10035.0,75.0,51.0
2,602,10098,Hangzhou,30.0,120.0,2013/8/25 5:12,-6.10,2428.0,2036.5,1553.5,...,14.0,77.0,14.5,130.0,71.5,10030.0,10040.0,10008.5,75.0,45.0
3,602,10098,Hangzhou,30.0,120.0,2017/7/8 5:19,-5.15,2083.0,1636.0,3103.0,...,28.0,51.5,11.0,87.0,93.5,10041.0,10053.0,10026.0,67.0,50.5
4,602,10098,Hangzhou,30.0,120.0,2017/7/25 5:00,-3.85,1252.5,1571.0,1672.5,...,18.0,36.5,2.5,62.5,110.0,10011.5,10025.5,NaN,54.5,29.0

In [7]:
a,b,c,d=mlr_ccn(df)

0.3440653999518199

In [13]:
a,b,c,d=mlr_ccn_value(df)

0.3440653999518199