In [1]:
import numpy as np
import pandas as pd
import math
from matplotlib import pyplot as plt
%matplotlib inline
# must be in python3 pygrib

In [2]:
def precintcon_ln_a(X, Y):
    N = len(X)
    if (len(X) == len(Y)):
        a=(sum(X**2)*sum(np.log(Y)))
        Z=((sum(X**2)*sum(np.log(Y))) + (sum(X)*sum(X*np.log(X)))-(sum(X**2)*sum(np.log(X))) -\
        (sum(X)*sum(X*np.log(Y))))/(N*sum(X**2)-(sum(X)**2))#!!!
    else:
        print("X and Y with differents lengths!")
    return Z

def precintcon_b(X, Y):
    N=len(X)
    if (len(X) == len(Y)):
        Z=(N * sum(X * np.log(Y))+ \
        sum(X) * sum(np.log(X))- \
        N * sum(X * np.log(X)) - \
        sum(X) * sum(np.log(Y))) \
        /(N * sum(X**2) - sum(X)**2)/100  #!!!!!   100   
    else:
        print("X and Y have differents lengths!")
    return Z

def p_sum_p(o):
    i = o[:,0]
    f = o[:,1]
    n = o[:,2]
    m = (o[:,0] + o[:,1] + 0.1)/2
    #print(len(m))
    x = m[0] * n[0]
    #print(x)
    #print(len(i))
    #print(len(f))
    #print(len(n))
    for k in range(1,len(i)):#!!!!!!!1
        #print(k)
        x = np.append(x, m[k] * n[k])
        #print(x)
    y = x[0]/sum(x)
    #print(y)
    #print(len(x))
    for k in range(2,len(x)+1):
        y = np.append(y, sum(x[0:k])/sum(x))
    return(y)

def p_sum_n(o):
    x = o[0]
    y=sum(o)
    #print(y)
    #print(len(y))
    for i in range(2,len(o)+1):
        #x = pd.concat(x, sum(o[0:i])) #np.r_
        #print(sum(o[0:i]))
        x = np.append(x, sum(o[0:i]))
        #print(x)
        n=x/y
    return(n)

def precintcon_class(v,interval):
    result=[0,0,0]
    #s=0
    #python-Error Message: 'float' object cannot be interpreted as an integer
    #print(v)
    #print(max(v))
    #print(math.ceil(max(v)))
    for i in range(0,math.ceil(max(v)+interval),interval):
        #initial = i # 
        initial = i + 0.1 if i == 0  else i
        final   = i+interval-0.1
        s = sum((v[(v>= initial)& (v<=final)]).value_counts())#!!!!!!!!!!!!!!!!!!!!! no table
        #s += sum(v[(v>= initial)& (v<=final)])
        #print(initial, final, s)
        #if not s.empty: 
        if s>0 :
            #result= np.append(initial, final, s)
            result= np.row_stack((result, [initial, final, s]))
    return result[1:,:]#!!!1
def ci_pre(X):
    y=precintcon_class(X,1)
    sum_p=p_sum_p(y)
    sum_n=p_sum_n(y[:,2])
    a= np.exp(precintcon_ln_a(sum_n, sum_p))
    b= precintcon_b(sum_n, sum_p)
    A=(a/b)*(np.exp(b*100) * (100 - (1/b)))
    S= 5000-A
    ci= 2*S/10000 
    return ci

In [4]:
#df = pd.read_csv('china_year_read.csv', sep=',',skiprows=0,header=0,na_values=[-99,9999,999990,3276632766,32766],low_memory=False)
df = pd.read_csv('china_pre-1962.csv.csv', sep=',',skiprows=0,header=0,na_values=[-99,9999,999990,3276632766,32766],low_memory=False)
df=df.dropna()
df.head()

,Unnamed: 0,Time,Stid,Lat,Lon,Height,rain,rain208,rain820,DATE
0,0.0,2001-01-01,50136,5258,12231,4330.0,0.0,0.0,0.0,2001Y
1,1.0,2001-01-01,51433,4348,8234,11052.0,0.0,0.0,0.0,2001Y
2,2.0,2001-01-01,57584,2923,11305,530.0,0.0,0.0,0.0,2001Y
3,3.0,2001-01-01,59631,2147,10821,324.0,0.0,0.0,0.0,2001Y
4,4.0,2001-01-01,58356,3125,12057,42.0,0.0,0.0,0.0,2001Y

In [5]:
df.to_csv("ci_tst.csv",index=False,sep=',')

bf=df[df["DATE"]=='2008Y']

table1 = pd.pivot_table(bf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)

table1.to_csv("ci_2008.csv",index=True,sep=',')

cf=df[df["DATE"]=='2009Y']

table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)

table1.to_csv("ci_2009.csv",index=True,sep=',')

cf=df[df["DATE"]=='2007Y']

table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)

table1.to_csv("ci_2007.csv",index=True,sep=',')

df.to_csv("ci_pre.csv",index=True,sep=',')

cf=df[df["DATE"]=='2006Y']

table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)

table1.to_csv("ci_2006.csv",index=True,sep=',')

cf=df[df["DATE"]=='2005Y']

table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)

table1.to_csv("ci_2005.csv",index=True,sep=',')

In [11]:
cf=df[df["DATE"]=='2004Y']

table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)

table1.to_csv("ci_2004.csv",index=True,sep=',')

cf=df[df["DATE"]=='2003Y']

In [15]:
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)

In [16]:
table1.to_csv("ci_2003.csv",index=True,sep=',')

cf=df[df["DATE"]=='2002Y']

table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)

In [19]:
table1.to_csv("ci_2002.csv",index=True,sep=',')

In [23]:
cf=df[df["DATE"]=='2001Y']
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)
table1.to_csv("ci_2001.csv",index=True,sep=',')

In [24]:
cf=df[df["DATE"]=='2011Y']
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)
table1.to_csv("ci_2011.csv",index=True,sep=',')

In [ ]:
cf=df[df["DATE"]=='2012Y']
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)
table1.to_csv("ci_2012.csv",index=True,sep=',')

In [ ]:
cf=df[df["DATE"]=='2009Y']
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)
table1.to_csv("ci_2009.csv",index=True,sep=',')

In [ ]:
cf=df[df["DATE"]=='2010Y']
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)
table1.to_csv("ci_2010.csv",index=True,sep=',')

In [ ]:
cf=df[df["DATE"]=='2013Y']
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)
table1.to_csv("ci_2013.csv",index=True,sep=',')

In [4]:
cf=df[df["DATE"]=='2017Y']
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)
table1.to_csv("ci_2017.csv",index=True,sep=',')

In [5]:
cf=df[df["DATE"]=='2018Y']
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)
table1.to_csv("ci_2018.csv",index=True,sep=',')