In [1]:
import pandas as pd
import numpy as np

In [2]:
%matplotlib inline

In [3]:
df=pd.read_csv("cities_with_country.csv")

In [4]:
df.head()

,Unnamed: 0,AREA,PERIMETER,LEVEL1_,LEVEL1_ID,AD2004,NAME2004,geometry,index_right,DATE,Stid,Height,Lat,Lon,ci
0,0,54.4821,70.1328,1,1,230000,黑龙江省,"POLYGON ((132.8446807861328 45.06007385253906,...",22682,1983Y,50247.0,5208.0,5203.0,12340.0,0.595851
1,0,54.4821,70.1328,1,1,230000,黑龙江省,"POLYGON ((132.8446807861328 45.06007385253906,...",30998,1993Y,50247.0,5208.0,5203.0,12340.0,0.646257
2,0,54.4821,70.1328,1,1,230000,黑龙江省,"POLYGON ((132.8446807861328 45.06007385253906,...",23431,1984Y,50247.0,5208.0,5203.0,12340.0,0.666604
3,0,54.4821,70.1328,1,1,230000,黑龙江省,"POLYGON ((132.8446807861328 45.06007385253906,...",29345,1991Y,50247.0,5208.0,5203.0,12340.0,0.699479
4,0,54.4821,70.1328,1,1,230000,黑龙江省,"POLYGON ((132.8446807861328 45.06007385253906,...",26901,1988Y,50247.0,5208.0,5203.0,12340.0,0.651139

In [5]:
df=df.drop(["geometry"],axis=1)

In [6]:
df.head()

,Unnamed: 0,AREA,PERIMETER,LEVEL1_,LEVEL1_ID,AD2004,NAME2004,index_right,DATE,Stid,Height,Lat,Lon,ci
0,0,54.4821,70.1328,1,1,230000,黑龙江省,22682,1983Y,50247.0,5208.0,5203.0,12340.0,0.595851
1,0,54.4821,70.1328,1,1,230000,黑龙江省,30998,1993Y,50247.0,5208.0,5203.0,12340.0,0.646257
2,0,54.4821,70.1328,1,1,230000,黑龙江省,23431,1984Y,50247.0,5208.0,5203.0,12340.0,0.666604
3,0,54.4821,70.1328,1,1,230000,黑龙江省,29345,1991Y,50247.0,5208.0,5203.0,12340.0,0.699479
4,0,54.4821,70.1328,1,1,230000,黑龙江省,26901,1988Y,50247.0,5208.0,5203.0,12340.0,0.651139

In [9]:
df.drop(["Unnamed: 0"],axis=1)

,AREA,PERIMETER,LEVEL1_,LEVEL1_ID,AD2004,NAME2004,index_right,DATE,Stid,Height,Lat,Lon,ci
0,54.482100,70.13280,1,1,230000,黑龙江省,22682,1983Y,50247.0,5208.0,5203.0,12340.0,0.595851
1,54.482100,70.13280,1,1,230000,黑龙江省,30998,1993Y,50247.0,5208.0,5203.0,12340.0,0.646257
2,54.482100,70.13280,1,1,230000,黑龙江省,23431,1984Y,50247.0,5208.0,5203.0,12340.0,0.666604
3,54.482100,70.13280,1,1,230000,黑龙江省,29345,1991Y,50247.0,5208.0,5203.0,12340.0,0.699479
4,54.482100,70.13280,1,1,230000,黑龙江省,26901,1988Y,50247.0,5208.0,5203.0,12340.0,0.651139
5,54.482100,70.13280,1,1,230000,黑龙江省,25956,1987Y,50247.0,5208.0,5203.0,12340.0,0.651579
6,54.482100,70.13280,1,1,230000,黑龙江省,19412,1979Y,50247.0,5215.0,5203.0,12340.0,0.795416
7,54.482100,70.13280,1,1,230000,黑龙江省,30218,1992Y,50247.0,5208.0,5203.0,12340.0,0.677520
8,54.482100,70.13280,1,1,230000,黑龙江省,27610,1989Y,50247.0,5208.0,5203.0,12340.0,0.674366
9,54.482100,70.13280,1,1,230000,黑龙江省,32000,1994Y,50247.0,5208.0,5203.0,12340.0,0.730145
10,54.482100,70.13280,1,1,230000,黑龙江省,18472,1978Y,50247.0,5215.0,5203.0,12340.0,0.659417
11,54.482100,70.13280,1,1,230000,黑龙江省,15413,1974Y,50247.0,5215.0,5203.0,12340.0,0.715346
12,54.482100,70.13280,1,1,230000,黑龙江省,15918,1975Y,50247.0,5215.0,5203.0,12340.0,0.646235
13,54.482100,70.13280,1,1,230000,黑龙江省,21157,1981Y,50247.0,5215.0,5203.0,12340.0,0.660440
14,54.482100,70.13280,1,1,230000,黑龙江省,25342,1986Y,50247.0,5208.0,5203.0,12340.0,0.665256
15,54.482100,70.13280,1,1,230000,黑龙江省,17103,1976Y,50247.0,5215.0,5203.0,12340.0,0.748255
16,54.482100,70.13280,1,1,230000,黑龙江省,28373,1990Y,50247.0,5208.0,5203.0,12340.0,0.687047
17,54.482100,70.13280,1,1,230000,黑龙江省,17718,1977Y,50247.0,5215.0,5203.0,12340.0,0.705779
18,54.482100,70.13280,1,1,230000,黑龙江省,21980,1982Y,50247.0,5208.0,5203.0,12340.0,0.654354
19,54.482100,70.13280,1,1,230000,黑龙江省,24313,1985Y,50247.0,5208.0,5203.0,12340.0,0.632200
20,54.482100,70.13280,1,1,230000,黑龙江省,17091,1976Y,50246.0,3574.0,5219.0,12443.0,0.659824
21,54.482100,70.13280,1,1,230000,黑龙江省,31969,1994Y,50246.0,3574.0,5219.0,12443.0,0.638516
22,54.482100,70.13280,1,1,230000,黑龙江省,28490,1990Y,50246.0,3574.0,5219.0,12443.0,0.661667
23,54.482100,70.13280,1,1,230000,黑龙江省,25341,1986Y,50246.0,3574.0,5219.0,12443.0,0.726205
24,54.482100,70.13280,1,1,230000,黑龙江省,19406,1979Y,50246.0,3574.0,5219.0,12443.0,0.692978
25,54.482100,70.13280,1,1,230000,黑龙江省,13615,1972Y,50246.0,3580.0,5219.0,12443.0,0.684433
26,54.482100,70.13280,1,1,230000,黑龙江省,21099,1981Y,50246.0,3574.0,5219.0,12443.0,0.635896
27,54.482100,70.13280,1,1,230000,黑龙江省,15452,1974Y,50246.0,3580.0,5219.0,12443.0,0.654148
28,54.482100,70.13280,1,1,230000,黑龙江省,20152,1980Y,50246.0,3574.0,5219.0,12443.0,0.638104
29,54.482100,70.13280,1,1,230000,黑龙江省,27579,1989Y,50246.0,3574.0,5219.0,12443.0,0.647209
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49233,0.593379,6.51717,35,35,310000,上海市,37533,2001Y,58362.0,60.0,3124.0,12129.0,0.623658
49234,0.593379,6.51717,35,35,310000,上海市,34541,1998Y,58362.0,60.0,3124.0,12129.0,0.516072
49235,0.593379,6.51717,35,35,310000,上海市,41703,2006Y,58362.0,55.0,3124.0,12127.0,0.603583
49236,0.593379,6.51717,35,35,310000,上海市,50877,2017Y,58362.0,55.0,3124.0,12127.0,0.685922
49237,0.593379,6.51717,35,35,310000,上海市,46707,2012Y,58362.0,55.0,3124.0,12127.0,0.584936
49238,0.593379,6.51717,35,35,310000,上海市,26193,1987Y,58362.0,36.0,3124.0,12129.0,0.536103
49239,0.593379,6.51717,35,35,310000,上海市,34250,1997Y,58362.0,60.0,3124.0,12129.0,0.696163
49240,0.593379,6.51717,35,35,310000,上海市,35606,1999Y,58362.0,60.0,3124.0,12129.0,0.628560
49241,0.593379,6.51717,35,35,310000,上海市,27222,1989Y,58362.0,36.0,3124.0,12129.0,0.610716
49242,0.593379,6.51717,35,35,310000,上海市,25033,1986Y,58362.0,36.0,3124.0,12129.0,0.645907
49243,0.593379,6.51717,35,35,310000,上海市,38367,2002Y,58362.0,60.0,3124.0,12129.0,0.594052
49244,0.593379,6.51717,35,35,310000,上海市,31240,1994Y,58362.0,35.0,3124.0,12129.0,0.592291
49245,0.593379,6.51717,35,35,310000,上海市,28933,1991Y,58362.0,35.0,3124.0,12129.0,0.694541
49246,0.593379,6.51717,35,35,310000,上海市,36329,2000Y,58362.0,60.0,3124.0,12129.0,0.660556
49247,0.593379,6.51717,35,35,310000,上海市,28467,1990Y,58362.0,36.0,3124.0,12129.0,0.613774
49248,0.593379,6.51717,35,35,310000,上海市,42537,2007Y,58362.0,55.0,3124.0,12127.0,0.690427
49249,0.593379,6.51717,35,35,310000,上海市,26914,1988Y,58362.0,36.0,3124.0,12129.0,0.686436
49250,0.593379,6.51717,35,35,310000,上海市,30274,1992Y,58362.0,35.0,3124.0,12129.0,0.583370
49251,0.593379,6.51717,35,35,310000,上海市,33166,1996Y,58362.0,35.0,3124.0,12129.0,0.586902
49252,0.096528,7.67322,37,37,810000,香港特别行政区,47168,2013Y,59493.0,630.0,2232.0,11400.0,0.517869
49253,0.096528,7.67322,37,37,810000,香港特别行政区,44666,2010Y,59493.0,630.0,2232.0,11400.0,0.635711
49254,0.096528,7.67322,37,37,810000,香港特别行政区,49670,2016Y,59493.0,630.0,2232.0,11400.0,0.653212
49255,0.096528,7.67322,37,37,810000,香港特别行政区,48002,2014Y,59493.0,630.0,2232.0,11400.0,0.695172
49256,0.096528,7.67322,37,37,810000,香港特别行政区,45500,2011Y,59493.0,630.0,2232.0,11400.0,0.672168
49257,0.096528,7.67322,37,37,810000,香港特别行政区,42164,2007Y,59493.0,630.0,2232.0,11400.0,0.660171
49258,0.096528,7.67322,37,37,810000,香港特别行政区,46334,2012Y,59493.0,630.0,2232.0,11400.0,0.673684
49259,0.096528,7.67322,37,37,810000,香港特别行政区,48836,2015Y,59493.0,630.0,2232.0,11400.0,0.709010
49260,0.096528,7.67322,37,37,810000,香港特别行政区,41330,2006Y,59493.0,630.0,2232.0,11400.0,0.632475
49261,0.096528,7.67322,37,37,810000,香港特别行政区,42998,2008Y,59493.0,630.0,2232.0,11400.0,0.721479
49262,0.096528,7.67322,37,37,810000,香港特别行政区,43832,2009Y,59493.0,630.0,2232.0,11400.0,0.652888

In [10]:
df.to_csv("ci_all.csv",index=False)

In [11]:
df=df.sort_values(by=["DATE","NAME2004"],ascending=[True,False])

In [12]:
df.head()

,Unnamed: 0,AREA,PERIMETER,LEVEL1_,LEVEL1_ID,AD2004,NAME2004,index_right,DATE,Stid,Height,Lat,Lon,ci
499,0,54.4821,70.1328,1,1,230000,黑龙江省,47,1951Y,50557.0,2223.0,4910.0,12513.0,0.609287
937,0,54.4821,70.1328,1,1,230000,黑龙江省,18,1951Y,50745.0,1470.0,4720.0,12356.0,0.586489
1732,0,54.4821,70.1328,1,1,230000,黑龙江省,8,1951Y,50953.0,1451.0,4545.0,12638.0,0.642825
2034,0,54.4821,70.1328,1,1,230000,黑龙江省,44,1951Y,54094.0,2403.0,4435.0,12936.0,0.613729
35650,21,7.7115,27.1712,22,22,500000,重庆市,49,1951Y,57516.0,2910.0,2930.0,10633.0,0.677529

In [13]:
df=df.drop(["Unnamed: 0"],axis=1)

In [14]:
df.head()

,AREA,PERIMETER,LEVEL1_,LEVEL1_ID,AD2004,NAME2004,index_right,DATE,Stid,Height,Lat,Lon,ci
499,54.4821,70.1328,1,1,230000,黑龙江省,47,1951Y,50557.0,2223.0,4910.0,12513.0,0.609287
937,54.4821,70.1328,1,1,230000,黑龙江省,18,1951Y,50745.0,1470.0,4720.0,12356.0,0.586489
1732,54.4821,70.1328,1,1,230000,黑龙江省,8,1951Y,50953.0,1451.0,4545.0,12638.0,0.642825
2034,54.4821,70.1328,1,1,230000,黑龙江省,44,1951Y,54094.0,2403.0,4435.0,12936.0,0.613729
35650,7.7115,27.1712,22,22,500000,重庆市,49,1951Y,57516.0,2910.0,2930.0,10633.0,0.677529

In [15]:
df.to_csv("ci_all.csv",index=False)